<h1>States</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add State</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let state of states">
            <td>{{state.name}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{state.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteState(state.id)" class="btn btn-sm btn-danger btn-delete-state" [disabled]="state.isDeleting">
                    <span *ngIf="state.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!state.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!states">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
